.typing::after {
  content: "_";
  display: inline-block;
  width: 2px; /* Adjust the width of the cursor */
  height: 1em; /* Match the height of the text */
  animation: blink 1s infinite;
  vertical-align: bottom; /* Aligns the cursor to the bottom of the text */
  margin-left: 2px; /* Adds a small space between the text and the cursor */
  position: relative;
  left: -24px;
  top: 6px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
